body{
    /* background-color: rgb(255, 255, 255); */
    background-color: aliceblue;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    background-color: rgb(219, 214, 214);
    padding:30px;
    border-radius: 10px;
    height: 580px;
}
h2{
    text-align: center;
}
ol li{
    padding:10px;
}
ol li input{
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    background-color: rgb(238, 236, 236);
}
ol li input:hover{
    background-color:rgb(219, 214, 214) ;
    transition: 0.5s;
}
hr{
    border: 1px solid black;
}
.question p{
    font-size: 20px;
}
.nextButton{
    margin-left: 150px;
    padding:10px 20px;
    border:1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
}
.nextButton:hover{
    background-color: rgb(231, 202, 164);
    transition: 1s;
    
}
.score{
    font-size: 20px;
}
@media (max-width:460px)
{
    .container
    {
        width:300px;
    }
    .nextButton
    {
        margin-left: 110px;
        
    }
}



/* Omkar's code */


.container{
   
    background-color: white;
    box-shadow: 4px 4px 4px  rgb(240, 240, 240);
}
body{
    background-color: rgb(216, 216, 216);
}
#arrowIcon{
    width: 40px;
    height: 30px;
    position: absolute;
    left: 35px;
    top: 15px;
}